html {
    background-color: #181818;
}

.container-fluid {
    background-color: #181818;
}

.title {
    color: #875afb;
    font-weight: bold;
}

.author {
    color: #ffffff;
}

.date {
    color: #ffffff;
}

#introduction h2 {
    color: #875afb;
    font-weight: bold;
}

p {
    color: white
}

.r {
    background-color: #1f1f1f
}
#getting-data h2 {
    color: #875afb;
    font-weight: bold;
 }

 #get-function h4 {
    color:#00ae6b
 }

#finding-indicator-codes h4 {
    color:#00ae6b
}

#searching-through-indicators h4 {
    color:#00ae6b
}

#preparing-data h2 {
    color: #875afb;
    font-weight: bold;
}
 #join h4 {
    color:#00ae6b
 }


