body {
    background-color: #FFF1E0;
}

.container-fluid {
    background-color: #F5E7D7;
}

.title {
    color: #838AA8;
    font-weight: bold;
}

.author {
    color: #83A89F;
}

.date {
    color: #83A89F;
}

h2 {
    color: #838AA8;
    font-weight: bold;
}

h3 {
    color: #8F5845;
    text-align: center;
    font-size: 8px;
    font-style: italic;
}

p {
    color: #8F5845;
    text-align: justify;
}

.r {
    background-color: #36332F
}

h4 {
    color:#83A89F
 }

pre:not([class]) {
    background-color: #36332F ;
  
}

.math.display {
    color: #8F5845;
    text-align: justify;    
}

.math.inline {
    color:#8F5845
}

ul {
    color: #8F5845;
    text-align: justify;
}

.hljs {
    color: #80A69F;
}

span.hljs-keyword {
    color: #B39C92
}

span.hljs-number {
    color: #9BA1C9;
}

span.hljs-string {
    color:#9BA1C9
}

span.hljs-literal {
    color: #9BA1C9
}

span.hljs-comment {
    color: #918B77
}

